.texto {
    font-family: "Ubuntu";
    padding:15px;
}

.campos {
    padding:15px;
}

.campo {
    font-family: "Ubuntu";
    font-size:15px;
    padding:9px; 
}

.input {
    width:300px;
    height:20px;
    background:rgb(214, 225, 231);
    border:none;
    position:absolute;
    left:110px;

}